/* for all ///////////////////////////////////////////////////*/
@font-face {
  font-family: assistant;
  src: url("../assets/fonts/Assistant-Regular.ttf");
}

@font-face {
  font-family: assistant;
  src: url("../assets/fonts/Assistant-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: assistant;
  src: url("../assets/fonts/Assistant-Bold.ttf");
  font-weight: bold;
}

* {
  direction: rtl;
  text-align: start;
  font-family: assistant;
  user-select: none;
  text-align: center;
  color: #f9f6ec;
}

html,
body {
  height: 100dvh;
  scroll-behavior: smooth;
  overflow: hidden;
}

html {
  display: table;
  margin: 0;
}

body {
  position: relative;
  vertical-align: middle;
  background-color: var(--ion-color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: 500;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.5);
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bhd-logo {
  height: 10dvh;
  margin: 2dvh;
  filter: sepia(30%);
  filter: grayscale(30%);
  filter: contrast(80%);
}

ion-content.ion-content-start {
  --background: var(--ion-color-primary);
}

.no-scroll {
  --overflow: hidden;
}

.homeSwiper .swiper-slide-active img {
  transform: scale(100%) translateY(4%);
  transition: 0.3s;
}

.homeSwiper .swiper-slide-active h2 {
  font-weight: 600;
  font-size: 2.5dvh;
  transition: 0.3s;
}

.text-dark-plain {
  color: var(--ion-color-medium);
  text-shadow: none;
  font-weight: 600;
}
